
:root {
  --main-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #212121;
  --third-color: #757575;
}
.section {
  color: #ffffff;
  font-size: sans-serif;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  background-color: #2F303A;
}
.list{
  list-style-type: none;
}
.subtitle{
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700px;
  line-height: 1.20;
  text-decoration: none;
}
.button-title{
  color: var(--first-color);
  background-color: #2196f3;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}
/*todo el contenido*/
.body {
color: #000000;
background:#ffffff;
font-size: 'Roboto' , 'Releay' , sans-serif;
}
.link{
  color: var(--third-color);
}
.link:hover{
  color: var(--main-color);
}
.link{
  text-decoration: none;
}
.button:hover {
  color: var(--first-color);
  background-color: #2196f3;
  cursor: pointer;
}
.filter{
  color: var(--second-color)
}
.filter:hover{
  color: var(--main-color);
}
.filter{
  text-decoration: none;
}
.second-title{
  font-size: sans-serif;
  font-weight: 700;
}
.paragraph{
  color: #757575;
}
.footer{
  background-color: #212121;
}
.address{
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}






