@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");


/*paleta de colores del diseño*/
:root {
  --main-color: #2196f3;
  --second-color: #212121;
  --third-color: #757575;
}
/*Todo el contenido*/
.body {
  color: #000000;
  background: #ffffff;
  font-family: 'Roboto' , 'Raleway' , sans-serif;
}

/*Titulo principal*/
.main-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}

/*Encabezado*/
.navbar .anchor {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

/*Encabezado barra navegación*/
.navbar-menu .filter {
  color: var(--second-color);
}

/*Encabezado barra navegación*/
.navbar-menu .filter:hover {
  color: var(--main-color);
}

/*Encabezado barra de contacto*/
.navbar .contact {
  color: var(--third-color);
}

/*Encabezado barra de contacto*/
.navbar .contact:hover {
  color: var(--main-color);
}

/*Encabezado webstudio*/
.navbar .webstudio {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.main-title {
  background: #2f303a;
}

/*Boton Studio*/
.main-title .main-button {
  color: #ffffff;
  cursor: pointer;
  background: var(--main-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
}

/*Botones portafolio*/
.button {
  color: var(--second-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}

/*Botones portafolio*/
.button:hover {
  color: #ffffff;
  background: var(--main-color);
}

/*Seccion Ventajas titulo*/
.main-advantages .title {
  color: var(--second-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

/*Seccion Ventajas descripcion*/
.main-advantages .description {
  color: var(--third-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Subtitulos */
.main-subtitle {
  color: var(--second-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

/*Acerca de nosotros*/
.main-about-us {
  background: #f5f4fa;
}
/*Acerca de nosotros el nombre*/
.main-about-us .name {
  color: var(--second-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

/*Acerca de nosotros la profesion*/
.main-about-us .profesion {
  color: var(--third-color);
  font-size: 16px;
  line-height: 1.19;
}

/*Portafolio titilo del proyecto */
.project {
  color: var(--second-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

/*Portafolio tipo de proyecto*/
.type-project {
  color: var(--third-color);
  font-size: 16px;
  line-height: 1.19;
}

/*Footer*/
.contact2 {
  background: #2f303a;
  font-size: 14px;
  line-height: 1.71;
}

/*Footer dirección*/
.contact-address .address {
  color: #ffffff;
}

/*Footer email y telefono*/
.contact-address .address2 {
  color: rgba(255, 255, 255, 0.6);
}
/*Footer */
.contact2 .anchor:hover {
  color: var(--main-color);
}

/*Footer webstudio*/
.contact2 .webstudio {
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

