@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: #2196f3;
  --second-color: #212121;
  --third-color: #757575;
}
/*todo el contenido*/
.body {
color: #000000;
background:#ffffff;
font-size: 'Roboto' , 'Releay' , sans-serif;
}

